<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Request:<%= title %></h1>
    <hr>
    <h4>Body: <%= body %></h4>
  </body>
</html>
