<!DOCTYPE html>
<html>
  <head>
    <title><%= banana %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= banana %></h1>
    <p>Welcome to <%= banana %></p>
  </body>
</html>
